<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"><title> Preguntas </title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link rel='stylesheet'		  
		  media='only screen and (min-width:530px) and (min-device-width: 481px)'	
		  href='/stylesheets/wide.css'/>
	<link rel='stylesheet'  type='text/css'
		  media='only screen and (max-width:480px)'	
		  href='/stylesheets/smartphone.css'/>
<script type="text/javascript" src="zepto.min.js"></script>
<script>

function startTime() {	// no puede ser otro nombre
  var today=new Date();   
  var tmp=4000;
	if ( $("#mVar").html() === "nopasa" )
	{ 	  
	  $("#mVar").html("pasa");
	  $("#demo").html(today.toLocaleTimeString());
      var t = setTimeout(function(tmp){ startTime() }, tmp );										 										 
	} 
	else  {	 //var s = rearranque();
	  $("#mVar").html("nopasa");	  
	  $("#demo").html(today.toLocaleTimeString()); 
	  var t = setTimeout(function(tmp){ startTime() }, tmp);	  
		  }			
		  } 			   
function rearranque() { location.reload();	}									  
</script>

		  
</head>

<body onload="startTime()" >   <!--  onload solo se puede cargar en body, header. no en hn, pn ...	-->  

<div id="page-wrap">	
	<header class="main" id="h1">
			    
		<%if(!session.user){%>
		<span class="right"><a href="/login">Login</a></span>
		<%}else{%>
		<p>gege<var id="vSes" ><%= session.user.loqueQueda%></var>gege</p>				
		<span class="left"><a id="demo" >  </a></span><a id="h00" >  </a></span>
		<span><a href="/logout" ></a></span>
		<var id="mVar" > <%= session.user.pasaNopasa%></var>
		<span><a><%=session.user.username%></a></span>
		<span><a href="/logout">Logout</a></span>
		<var id="sTmp" > <%= session.user.loqueQueda%></var><%}%>
		
	
	<h3>Quiz<span>: el juego de las preguntas</span></h3>
		<!--	<h3>Bienvenido</h3>  	No deja incluir variable: esta renderizado en section --> 
	</header>	
	<nav class="main" id="n1" role="navigation" >
		<span><a href="/">Inicio</a></span>
		<span><a href="/quizes">Preguntas</a></span>
		<span><a href="/quizes/statistics">Estadísticas</a></span>
	</nav>
	
	<section class="main" id="s1">	
	<div><%- body %></div>
	</section>					
		
	<footer class="main" id="f1" >	
		
		<span><a href="http://es.wikipedia.org/wiki/Quiz">¿Qué es un Quiz?</a></span>
		<span><a href="https://github.com/juantribaldos/Proy_Quiz">Mirar en Github</a></span>
			<!--	<span><a href="http://localhost:3000/author">Creditos</a></span>	--> 		
		<span><a href="/author">Creditos</a></span>
		<!-- <span><a id="hora"> <a/></span> -->
	</footer>
</div> 
</body>
</html>
<!--     {}<>	--> 

<!--    <//% if (errors.length) { %>
      <span id='ErrorMsgs'>
        Corregir errores:<br/>
        <//% for (var i in errors) { %>
           <span> <//%= errors[i].message %> </span><br/>
        <//% } %>
      </span>
    <//% } %>			--> 
    
